doctype html
html(lang='en')
  head
    title Private Hospitals, Gyms, Corporate Fitness | Nuffield Health
    meta(name='description', content='Nuffield Health offers 31 private hospitals, 112 Fitness & Wellbeing gyms and many corporate locations and medical centres.')
    meta(name='keywords', content='fitness,nuffield health,gyms,gym,medical centre,healthcare,hospitals,private')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/favicon.ico')
    meta(property='og:image', content='/open-graph.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-chrome-192x192.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    link(href='stylesheets/simplePagination.css', rel='stylesheet')
    script.
      window.dataLayer = window.dataLayer || []; window.dataLayer.push({'event':'pageDataLoaded','userId':'','loginStatus':'NO'});
      document.documentElement.className = document.documentElement.className.replace('no-js', '');
    link(rel='stylesheet', type='text/css', href='stylesheets/application.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/search_products.css')
    script(src='//maps.googleapis.com/maps/api/js?client=gme-nuffieldhealthltd1&hl=en&libraries=places')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='javascripts/jquery.simplePagination.js')
    style(type='text/css').
      #background-image { background-image: url(http://www.autonomouschild.co.uk/wp-content/uploads/2016/07/product_0.png); }
      @media (max-width: 1200px) {
      #background-image { background-image: url(http://www.autonomouschild.co.uk/wp-content/uploads/2016/07/product_0.png); }
      }
      @media (max-width: 900px) {
      #background-image { background-image: url(http://www.autonomouschild.co.uk/wp-content/uploads/2016/07/product_0.png); }
      }
      @media (max-width: 480px) {
      #background-image { background-image: url(http://www.autonomouschild.co.uk/wp-content/uploads/2016/07/product_0.png); }
      }
    script(src='https://cdn.optimizely.com/js/6076240549.js')
    meta(name='google-site-verification', content='vURViD3WNilgTwx98cc2xL-phgxOhD4saZBPRIY70IM')
  body(data-page-id='0000014d-7c48-d677-a1cf-fcdd90db0000')
    div
      // Google Tag Manager
      script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T63L6W');
      // End Google Tag Manager
      // Google Tag Manager (noscript)
      noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-T63L6W', height='0', width='0', style='display:none;visibility:hidden')
      // End Google Tag Manager (noscript)
      style(type='text/css').
        span.event-meta__cta { display: none; }
      style(type='text/css').
        .bb-timetable__added[ng-show="!event.bookable"] {
        display: none
        }
        @media screen and (max-width: 480px) {
        .account-links--4 .account-links__item {
        -webkit-box-flex: 100%;
        -webkit-flex: 100%;
        -moz-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%
        }
        }
        @media screen and (max-width: 480px) {
        .account-links--5 .account-links__item:nth-child(-n+2), .account-links--6 .account-links__item:nth-child(-n+2) {
        -webkit-box-flex: 100%;
        -webkit-flex: 100%;
        -moz-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%
        }
        }
        .layout--0-12-0 .layout__column {
        width: 100%;
        }
      .global-nav
        .row.row--green.row--inverse.row--no-padding.row--overflow
          .layout-container
            .layout.layout--6-6
              .layout__column.layout__column--1
                ul.global-nav__list.global-nav__list--audience
                  li.global-nav__item
                    a.global-nav__link.js-default(href='https://www.nuffieldhealth.com/') Personal
                  li.global-nav__item
                    a.global-nav__link(href='https://www.nuffieldhealth.com/corporate-wellbeing') Corporate
                  li.global-nav__item
                    a.global-nav__link(href='https://www.nuffieldhealth.com/healthcare-professionals') Professionals
              .layout__column.layout__column--2
      // #cache key:primaryNavigation status:cached expires:3257s
      #nav.nav(role='navigation')
        .row.row--green.row--inverse.row--no-padding.row--overflow
          .layout-container.nav__layout-container
            .layout.layout--12
              .layout__column
                .nav__upper
                  a.nav__logo-wrapper(href='https://www.nuffieldhealth.com/')
                    //
                      if lt IE 9img.nav__logo(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.png', alt='Nuffield Health')
                    //if gte IE 9
                      | if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| [if gte IE 9]
                    span.nav__logo
                      img.nav__logo-text(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.svg', alt='Nuffield Health')
                    // <![endif]
                  ul.nav__list
                    li.nav__item
                      a#0000015a-4134-d80d-a55e-55fe90040000.nav__link(href='https://www.nuffieldhealth.com/services') Products
                    li.nav__item
                      a#0000014c-bd40-d7d2-a1ff-ff71639f0000.nav__link(href='https://www.nuffieldhealth.com/health-topics') Locations
                    li.nav__item
                      a#0000014c-e658-dfca-ab5d-eedfa2090000.nav__link(href='https://www.nuffieldhealth.com/hospitals') Payment records
                    li.nav__item
                      a#0000014c-faaa-d922-a7ed-fbef5a7f0000.nav__link(href='https://www.nuffieldhealth.com/gyms') sample
                    li.nav__item
                      a#0000014c-faaa-d922-a7ed-fbef9a1b0000.nav__link(href='https://www.nuffieldhealth.com/physiotherapy') sample
                    li.nav__item
                      a#0000014c-faab-d922-a7ed-fbef138c0000.nav__link(href='https://www.nuffieldhealth.com/health-assessments') sample
                    li.nav__item
                      a#0000014c-faab-d922-a7ed-fbef6f910000.nav__link(href='http://www.nuffieldhealthcareers.com') Quick links
      #main(role='main', tabindex='0')
        #background-image.row.row--background-image
          .layout-container
            .layout.layout--8-4
              .layout_column.layout_column--1
                .page-header.page-header--bold
                  h1(itemprop='name') Products
                  .page-header__lead(itemprop='description')
                    p Here can you find details of products.
          .layout-container
            .summary-list.summary-list--boxed
              h2.summary-list__heading four latest updated products
              ul.layout.layout--3-3-3-3.summary-list__list
                li.layout__column.layout__column--1.summary-list__item
                  a.summary-list__inner.summary-list__inner--linked(href='/products')
                    .summary-list__upper(style='height: 122px;')
                      span.summary-list__lead-in 01/
                      span.summary-list__item__heading Item 01
                    .summary-list__lower(style='height: 124px;')
                      .summary-list__body
                        p
                          | blablablabla
                          | blablablabla
                          | blablablabla
                          | blablablabla
                li.layout__column.layout__column--2.summary-list__item
                  a.summary-list__inner.summary-list__inner--linked(href='/products')
                    .summary-list__upper(style='height: 122px;')
                      span.summary-list__lead-in 02/
                      span.summary-list__item__heading Item 02
                    .summary-list__lower(style='height: 124px;')
                      .summary-list__body
                        p
                          | blablablabla
                          | blablablabla
                          | blablablabla
                          | blablablabla
                li.layout__column.layout__column--3.summary-list__item
                  a.summary-list__inner.summary-list__inner--linked(href='/products')
                    .summary-list__upper(style='height: 122px;')
                      span.summary-list__lead-in 03/
                      span.summary-list__item__heading Item 03
                    .summary-list__lower(style='height: 124px;')
                      .summary-list__body
                        p
                          | blablablabla
                          | blablablabla
                          | blablablabla
                          | blablablabla
                li.layout__column.layout__column--4.summary-list__item
                  a.summary-list__inner.summary-list__inner--linked(href='/products')
                    .summary-list__upper(style='height: 122px;')
                      span.summary-list__lead-in 04/
                      span.summary-list__item__heading Item 04
                    .summary-list__lower(style='height: 124px;')
                      .summary-list__body
                        p
                          | blablablabla
                          | blablablabla
                          | blablablabla
                          | blablablabla
          #products.layout-container.layout-container--no-top-margin
            .location-finder.js-location-finder
              .location-finder__header
                span.location-finder__heading Search for products
                form.search-form(action='')
                  .form-group.has-feedback
                    label.sr-only(for='search') Search
                    input#search.form-control(type='text', name='search', placeholder='search')
                    span.glyphicon.glyphicon-search.form-control-feedback
              .location-finder__regions.js-location-finder-region-nav.location-finder__regions--visible
                .listing-filters.listing-filters--inverse.location-finder__filters
                  ul.filter-list.js-location-finder-region-nav-link-container
                    li.filter-list__item
                      button#1.btn.btn-secondary.more-item(style='margin-left: 30px; width: 184.56px;') Product
                    li.filter-list__item
                      button#2.btn.btn-secondary.more-item(style='margin-left: 60px; width: 184.56px;') Product Group
                    li.filter-list__item
                      button#3.btn.btn-secondary.more-item(style='margin-left: 60px; width: 184.56px;') Product Class
                    li.filter-list__item
                      button#4.btn.btn-secondary.less-item(style='margin-left: 60px; width: 184.56px;') Product Family
                  ul.filter-list.js-location-finder-region-nav-link-container
                    li.filter-list__item
                      button#5.btn.btn-secondary.less-item(style='margin-left: 30px; width: 184.56px;') VAT Code
                    li.filter-list__item
                      button#6.btn.btn-secondary.less-item(style='margin-left: 60px; width: 184.56px;') Product Brand
                    li.filter-list__item
                      button#7.btn.btn-secondary.less-item(style='margin-left: 60px; width: 184.56px;') Product Sub Brand
                    li.filter-list__item
                      button#8.btn.btn-secondary.more-item(style='margin-left: 60px; width: 184.56px;') Product Price Tier
                script.
                  $('.btn.btn-secondary').click(function(e) {
                  $(".item-info").remove();
                  var data = {};
                  data.title = e.target.id;
                  data.message = "message";
                  $.ajax({
                  type: 'POST',
                  data: JSON.stringify(data),
                  contentType: 'application/json',
                  url: 'http://localhost:3000/endpoint',
                  success: function(data) {
                  console.log("success");
                  //result=JSON.stringify(data);
                  var left=data.length%20;
                  var totalpage=(data.length-left)/20+1;
                  var length=0;
                  if((totalpage==1)&&(left>0)){
                  length=left;
                  console.log(length);
                  }else{
                  length=20;
                  console.log(length);
                  }
                  for(var i=0;i<length;i++){
                  var item=data[i];
                  $("#items-in-type").append("<tr>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Code"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Name"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Valid From"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Valid To"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'><button class='btn btn-primary btn-xs' style='height:25px;'><span class='glyphicon glyphicon-pencil' style='width:60px;'></span></button></td>");
                  $("#items-in-type").append("</tr>");
                  }
                  $(function(){
                  $("#pagination").pagination({
                  items: data.length,
                  itemsOnPage: 20,
                  cssStyle: 'light-theme'
                  });
                  });
                  $(document).ready(function(){
                  $(window).bind('hashchange',function(e){
                  var anchor=JSON.stringify(document.location.hash);
                  var temp1=anchor.replace('"','');
                  var temp2=temp1.replace('"','');
                  var pagenumberstring=temp2.replace('#page-','');
                  var pagenumber=parseInt(pagenumberstring);
                  if((pagenumber==totalpage)&&(left>0)){
                  $(".item-info").remove();
                  var bottom=(pagenumber-1)*20;
                  var top=left+bottom;
                  for(var i=bottom;i<top;i++){
                  var item=data[i];
                  $("#items-in-type").append("<tr>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Code"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Name"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Valid From"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Valid To"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'><button class='btn btn-primary btn-xs' style='height:25px;'><span class='glyphicon glyphicon-pencil' style='width:60px;'></span></button></td>");
                  $("#items-in-type").append("</tr>");
                  }
                  }else{
                  $(".item-info").remove();
                  var bottom=(pagenumber-1)*20;
                  var top=pagenumber*20;
                  for(var i=bottom;i<top;i++){
                  var item=data[i];
                  $("#items-in-type").append("<tr>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Code"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Name"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Valid From"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'>"+item["Product Valid To"]+"</td>");
                  $("#items-in-type").append("<td class='item-info'><button class='btn btn-primary btn-xs' style='height:25px;'><span class='glyphicon glyphicon-pencil' style='width:60px;'></span></button></td>");
                  $("#items-in-type").append("</tr>");
                  }
                  }
                  });
                  });
                  $("#products-list").show();
                  }
                  });
                  });
                  /*
                  //function for clicking page number
                  $(document).ready(function(){
                  $(window).bind('hashchange',function(e){
                  var anchor=JSON.stringify(document.location.hash);
                  console.log(anchor);
                  });
                  });
                  */
              #products-list.container(style='display: none; width: 1000px;')
                .row
                  .col-md-12(style='width: 1000px;')
                    h4 Items
                    table#mytable.table.table-bordred.table-striped
                      thead
                        th Product Code
                        th Product Name
                        th Product Valid From
                        th Product Valid To
                        th Edit
                      tbody#items-in-type
                    .clearfix
                    #pagination
block content