doctype transitional
html(lang='gb', dir='ltr')
  head#ctl00_Head1
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    script(type='text/javascript').
      var isTagpageview=true;
      function tagPageView() {
      }
    meta#ctl00_pageContent
    meta(name='Nuffield Health', content='job details page')
    meta(name='title', content='Sales & Services Manager - Nuffield Health - Job Details')
    meta(name='description', content='Job Details: Sales and Services ManagerAs the largest not-for-p')
    meta(name='keywords', content='BrassRing, job details, job employment, CV, job listing, job opening, job description, career, job opportunity, employment opportunities, job vacancy, post resume, professional, professionals, job application, job posting, hiring, job interview, employer')
    link(rel='Stylesheet', type='text/css', href='CSS/TGStyleSheet.css')
    // CSS file (default YUI Sam Skin)
    // Dependencies
    script(type='text/javascript', src='JS/general.js')
    script(src='JS/jquery-1.6.4.min.js', type='text/javascript')
    script(type='text/javascript').
      //ldp256 accessibility changes starts
      $(document).ready(function() {
      $(document.body).mousemove(function(event) {
      BodyMouseMove();
      });
      $(document.body).keyup(function(event) {
      BodyKeyUp();
      });
      $(document.body).focus(function(event) {
      BodyFocus();
      });
      var addOnClick = "no";
      if (addOnClick == "yes") {
      $(document.body).click(function(event) {
      hideAllLayer();
      });
      }
      // the footer isn't always easy to detect as empty.  This is an additional test to hide the footer when the branding table exists but contains no content
      if ($("[role=contentinfo]") && $("[role=contentinfo]").text().trim() == "") {
      $("[role=contentinfo]").remove();
      if ($("#ctl00_Footer")) {
      $("#ctl00_Footer").hide();
      }
      }
      });
      //ldp256 accessibility changes ends
      function AddRfToken() {
      var forms = document.forms;
      for (i = 0; i < forms.length; i++) {
      if (forms[i].name == "aspnetForm" && forms[i].action.indexOf("attachments.aspx") > 0) {
      }
      else
      {
      var hdElement = forms[i].hdRft;
      if (typeof (hdElement) == 'undefined') {
      var input = document.createElement("input");
      input.setAttribute("type", "hidden");
      input.setAttribute("name", "hdRft");
      input.setAttribute("value", js_rft);
      document.forms[i].appendChild(input);
      }
      else {
      hdElement.value = js_rft;
      }
      }
      }
      }
    script(src='YUI/V2.8.0r4/yahoo-dom-event.js', type='text/javascript')
    script(src='YUI/V2.8.0r4/datasource-min.js', type='text/javascript')
    script(src='YUI/V2.8.0r4/element-min.js', type='text/javascript')
    script(type='text/javascript', src='YUI/V2.8.0r4/datatable-min.js')
    // OPTIONAL: JSON Utility (for DataSource)
    script(src='YUI/V2.8.0r4/json-min.js', type='text/javascript')
    link(rel='stylesheet', type='text/css', href='YUI/V2.8.0r4/container.css')
    // Combo-handled YUI CSS files:
    link(rel='stylesheet', type='text/css', href='YUI/V2.8.0r4/datatable.css')
    script(type='text/javascript', src='YUI/V2.8.0r4/container-min.js')
    link(rel='Stylesheet', type='text/css', href='YUI/CSS/SiteMaster_override_YUI.css')
    link(rel='Stylesheet', type='text/css', href='CSS/accessibilityStyles.css')
    title#ctl00_head_PageTitle Nuffield Health - Job details
    style(type='text/css').
      .h1Title
      {
      margin:0;
      padding: 6px 0 0px 0;
      }
      .h1Tab
      {
      margin: 0pt;
      padding: 1px 0pt 1pt;
      overflow: hidden;
      }
      .twitter-share-button {
      position:relative;
      margin-left:3px;
      }
      iframe { vertical-align: top; }
    script(type='text/javascript').
      if (navigator.appVersion.indexOf('Win') != -1) {if (document.all) { document.write("<LINK REL=stylesheet TYPE='text/css' HREF='/css/Partner_30073_6042.css'>"); } else if (document.layers) { document.write("<LINK REL=stylesheet TYPE='text/css' HREF='/css/Partner_30073_6042_NN.css'>"); } else if (document.images) { document.write("<LINK REL=stylesheet TYPE='text/css' HREF='/css/Partner_30073_6042.css'>"); } } else if (navigator.appVersion.indexOf('Mac') != -1) { if (document.all) { document.write("<LINK REL=stylesheet TYPE='text/css' HREF='/css/Partner_30073_6042_mac.css'>"); } else if (document.layers) { document.write("<LINK REL=stylesheet TYPE='text/css' HREF='/css/Partner_30073_6042_macNN.css'>"); } else if (document.images) { document.write("<LINK REL=stylesheet TYPE='text/css' HREF='/css/Partner_30073_6042_mac.css'>"); } } else {if (document.all) { document.write("<LINK REL=stylesheet TYPE='text/css' HREF='/css/Partner_30073_6042.css'>"); } else if (document.layers) { document.write("<LINK REL=stylesheet TYPE='text/css' HREF='/css/Partner_30073_6042_NN.css'>"); } else if (document.images) { document.write("<LINK REL=stylesheet TYPE='text/css' HREF='/css/Partner_30073_6042.css'>"); } }  var js_rft = '^ervyw58YbVJCoT46/tHElOLCF2y+fhNWgwt5dW7Z848MdYXINgFD0INkAKYWPvYM+na1g7z25Fp2nAUjIUAJX614T9C8DGEoXk0Tmlh/CQhTLAFJEqaK/kZqzYE6gbyW64h/SJxpGq+7uhDhf+SvOSOBI+7Hxy2oHcf2vpeQx6unWSG+VGsFDOlE1SPOLgpe9h1JLm1Du11mTCe7LZ8sqmOQLWNXphvs'
    script(language='javascript', type='text/javascript').
      var MSG_SiteSwitch = "Recruitment for the selected job(s) will be in the language of the job posting(s).  To continue, the language of this site will change to match the language of the selected job(s).  You will need to provide your CV in the language of the selected job(s) in order to maximise your visibility to the recruitment personnel.";var MSG_SocialMediaSiteSwitch = "Posting to social networks should be in the language of the job posting.  To continue, the language of this site will change to match the language of the selected job."; var js_LaunchGQ_DotNet ="No";
    script(type='text/javascript', src='JS/Windows.js')
    script(type='text/javascript', src='JS/dialogBuilder.js')
    script(language='javascript', type='text/javascript').
      var SR_READY = "";
      var SR_PRIDE = "%5eXPo1WBzaZuM%3d";
      var SR_STID = "6042";
      var SR_CLID = "30073";
      var SR_LOCALE = "2057";
      var SR_FN = "";
      var SR_LN = "";
      function setReadyForSocialReferral(ready, clid, stid, pride, localeid,button,fn,ln) {
      SR_READY = ready;
      SR_PRIDE = pride;
      SR_STID = stid;
      SR_CLID = clid;
      SR_LOCALE = localeid;
      SR_FN = fn;
      SR_LN = ln;
      if (SR_READY == "yes") {
      LaunchSocialReferralMenu(document.getElementById(button));
      }
      }
      function LaunchSocialReferralMenu(button) {
      var jobstr = document.getElementById("jobid").value;
      var urlstring = "../tgnewui/referral/home/referralworkflowoptions?siteid=" + SR_STID + "&partnerid=" + SR_CLID + "&localeid=" + SR_LOCALE + "&bruid=" + SR_PRIDE + "&jobids=" + jobstr+ "&fn=" + SR_FN + "&ln=" + SR_LN
      window.dialogBuilder.showDialog(button, urlstring);
      }
      function ApplyNow()
      {
      var ApplyURL = "-1";
      if (ApplyURL=="-1" ) ApplyURL= "";
      if (ApplyURL.length>0 )
      {
      window.location.href=ApplyURL;
      }
      else
      //In case GTG if the job siteid is different than the current siteid
      //display warning pop-up to confirm site switched to job site
      {
      ApplyJobNow('2057');
      }
      }
      function ApplyJobNow(strLocale)
      {
      var strGQId;
      var iLen, iIndx;
      var arrGQId;
      var arrGQIds;
      var lngNewSelection = 0;
      var lngSiteLocale = 2057;
      var strSwitchSiteQS;
      strGQId = "3861";	// from Querystring
      strSwitchSiteQS = "";
      //var lngSelect = 1;
      var lngSelect = 1;
      if  (strGQId == '')
      {
      strGQId= document.frmJobDetail.JobInfo.value;
      arrGQId = (strGQId.substring(2, strGQId.length - 2)).split("%%");
      iLen = arrGQId.length;
      arrGQIds = arrGQId[lngSelect-1].split('|');
      if (arrGQIds[2] != 0)
      {
      if (strLocale == lngSiteLocale)
      {
      if (js_LaunchGQ_DotNet.toUpperCase() == 'YES')
      {
      openWindow11("gqlogin.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&fjd=true&referer=&gqid="+ arrGQIds[2] + "&jobinfo=__" + arrGQId[lngSelect-1] + "__&applycount=1&type=search_jobdetail");
      }
      else
      {
      openWindow11("https://krb-sjobs.brassring.com/" + strLocale + "/asp/tg/GQLogin.asp?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&fjd=true&referer=&gqid="+ arrGQIds[2] + "&jobinfo=__" + arrGQId[lngSelect-1] + "__&applycount=1&type=search_jobdetail&srcqs=");
      }
      }
      else
      {
      document.frmMassApply.GQID.value = arrGQIds[2];
      if(strSwitchSiteQS == '')
      {
      document.frmMassApply.action= "apply.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&src=jd&qs=partnerid%3d30073%26siteid%3d6042%26jobid%3d1069312";
      }
      else
      {
      document.frmMassApply.action= "apply.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&src=jd&qs=";
      }
      document.frmMassApply.submit();
      }
      }
      else
      {
      document.frmMassApply.action= "apply.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3";
      document.frmMassApply.submit();
      }
      }
      else
      {
      if (strGQId != 0)
      {
      if (strLocale == lngSiteLocale)
      {
      if (js_LaunchGQ_DotNet.toUpperCase() == 'YES')
      {
      openWindow11("gqlogin.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&fjd=true&referer=&gqid=" + document.frmMassApply.GQID.value + "&jobinfo=__1069312|140|3861__&applycount=1&type=search_jobdetail");
      }
      else
      {
      openWindow11("https://krb-sjobs.brassring.com/" + strLocale + "/asp/tg/GQLogin.asp?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&fjd=true&referer=&gqid=" + document.frmMassApply.GQID.value + "&jobinfo=__1069312|140|3861__&applycount=1&type=search_jobdetail&srcqs=");
      }
      }
      else
      {
      if(strSwitchSiteQS == '')
      {
      document.frmMassApply.action= "apply.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&src=jd&qs=partnerid%3d30073%26siteid%3d6042%26jobid%3d1069312";
      }
      else
      {
      document.frmMassApply.action= "apply.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&src=jd&qs=";
      }
      document.frmMassApply.submit();
      }
      }
      else
      {
      document.frmMassApply.action = "apply.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3";
      document.frmMassApply.submit();
      }
      }
      }
      //Send to friend email
      function sendToFriend()
      {
      openWindowBySize2('about:blank?sessionid=7b3bb8d572dfb84075aa3e5e7778c303997d', 450, 360);
      document.frmSendToFriend.submit();
      }
      function socialNetworkReferral(button) {
      if (SR_READY == "yes")
      LaunchSocialReferralMenu(button);
      else {
      document.frmSocialNetworkReferral.ButtonId.value = button.id;
      openWindowBySize2('about:blank?sessionid=7b3bb8d572dfb84075aa3e5e7778c303997d', 900, 720);
      document.frmSocialNetworkReferral.submit();
      }
      }
      function showjob(lngNewSelection)
      {
      document.frmJobDetail.action = "jobdetails.aspx?partnerid=30073&amp;siteid=6042&amp;jobid=1069312";
      document.frmJobDetail.CurSel.value= lngNewSelection;
      document.frmJobDetail.submit();
      }
      function launchSocialMedia()
      {
      var lngSiteLocale = '2057';
      var jobSiteID = '6042';
      var newLocaleId = getLocaleId(jobSiteID,'');
      var strSwitchSiteQS = '';
      if (newLocaleId == lngSiteLocale || newLocaleId == '')
      {
      openWindow1('about:blank?sessionid=7b3bb8d572dfb84075aa3e5e7778c303997d');
      document.frmSocialMedia.submit();
      }
      else
      {
      alert(MSG_SocialMediaSiteSwitch);
      if(strSwitchSiteQS == '')
      {
      document.frmMassApply.action= "apply.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&src=jdsm&qs=partnerid%3d30073%26siteid%3d6042%26jobid%3d1069312";
      }
      else
      {
      document.frmMassApply.action= "apply.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&src=jdsm&qs=";
      }
      document.frmMassApply.submit();
      }
      }
      //Save to jobcart
      function saveToJobCart()
      {
      var strTemp;
      var lIdx;
      var lLen;
      var arrSubInfo;
      if (document.frmJobDetail.jobcartcnt.value > 50)
      alert (MSG_cim_jobdetail_JobCart);
      else
      {
      document.frmSaveToCart.chkJobClientIds.value = ReplaceInString(document.frmSaveToCart.chkJobClientIds.value, "%%", "");
      arrSubInfo = document.frmSaveToCart.chkJobClientIds.value.split("|");
      if(arrSubInfo.length != 3)
      {
      strTemp =  arrSubInfo[0] + "|" + arrSubInfo[1];
      document.frmSaveToCart.chkJobClientIds.value = strTemp;
      }
      openWindow3('about:blank?sessionid=7b3bb8d572dfb84075aa3e5e7778c303997d');
      document.frmSaveToCart.submit();
      }
      }
      function goToSearchPage()
      {
      document.frmSearch.submit();
      }
      //QC #197940
      function reload(sParam)
      {
      if (typeof(sParam) != 'undefined')
      {
      if (sParam == 'ApplyAsRegularJob')
      ApplyAsRegularJob();
      return;
      }
      var sGQId =  "3861";
      var arrGQId;
      var iLen = 0;
      if (sGQId == '' )
      {
      sGQId= document.frmJobDetail.JobInfo.value;
      arrGQId = (sGQId.substring(2, sGQId.length - 2)).split("%%");
      iLen = arrGQId.length;
      }
      if ((iLen == 1) || (sGQId != ''))
      {
      document.frmJobDetail.target = "_self";
      document.frmJobDetail.action = "Logout.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&gqclose=yes&crl=yes&Exit=^VPbBpv82eWbDhCwKzWDUrT6iCUhsWNOr+koga53E/lzXlNjlAug5wQQ9zAIHEB3h8MY31WF6yImrg3MfBPqXIKPCcmzA0IykWELm092vYMWbSNgIDsy/tl1R1zPhCwwkD92w8DS1D2DGTMGsWNpekgzFXwfiuqrf75lK8txQ+WmhPH3ncfnUOh2FQ0hKw6fJbPhwM/DKJRcHPcBlKCL1k9+AobSKBAjNXp96tRWdzR8bo8SgUH3qP8aOYBrYWjTK9kjDsYQK6L5rCIq/ZQpz0kagF6Vob8sB58RWIjJKZHgD7DXEsKEoT0P+MEg+0lT1R+kt17mfsmfIY/vWLSd2afL0vNAj74h4";
      document.frmJobDetail.submit();
      }
      }
      $(document).ready(function() {
      var n = "<span id='spanProgressBar' runat='server' role='navigation' aria-label='Talent Gateway'><table width='100%' border='0' cellpadding='0' cellspacing='0' id='tblProgressBar' role='presentation'><tr><td valign='top' class='TGAlignLeft' width='90%'><table width='100%' border='0' cellspacing='0' cellpadding='0' role='presentation'><tr><td width='50%'><table border='0' cellspacing='0' cellpadding='0' class='breadcrumbtable' role='presentation'><tr><td width='11%' valign='middle' class='td_collapse_percent'><img alt='' class='PBSeparatorImgSize' align='middle' src='/img/pixel.gif'/></td><td width='1%' align='center' nowrap valign='bottom'><img alt='Completed page' aria-hidden='true' id='imgcompleted0' class='PBSectionImgSize' align='middle' src='/img/pb/4/checkbox_complete.gif'/></td><td width='11%' valign='middle'><img alt='' class='PBSeparatorImgSize' align='middle' src='/img/pb/4/progressLine.gif'/></td><td width='11%' valign='middle'><img alt='' class='PBSeparatorImgSize' align='middle' src='/img/pb/4/progressLine.gif'/></td><td width='1%' align='center' nowrap valign='bottom'><img alt='Completed page' aria-hidden='true' id='imgcompleted1' class='PBSectionImgSize' align='middle' src='/img/pb/4/checkbox_complete.gif'/></td><td width='11%' valign='middle'><img alt='' class='PBSeparatorImgSize' align='middle' src='/img/pb/4/progressLine.gif'/></td><td width='11%' valign='middle'><img alt='' class='PBSeparatorImgSize' align='middle' src='/img/pb/4/progressLine.gif'/></td><td width='1%' align='center' nowrap valign='bottom'><img alt='Completed page' aria-hidden='true' id='imgcompleted2' class='PBSectionImgSize' align='middle' src='/img/pb/4/checkbox_complete.gif'/></td><td width='11%' valign='middle'><img alt='' class='PBSeparatorImgSize' align='middle' src='/img/pb/4/progressLine.gif'/></td><td width='11%' valign='middle'><img alt='' class='PBSeparatorImgSize' align='middle' src='/img/pb/4/progressLine.gif'/></td><td  width='1%' align='center' nowrap valign='bottom'><img alt='Current page' aria-hidden='true' id='imginprogress' class='PBSectionImgSize' align='middle' src='/img/pb/4/checkbox_active.gif'/></td><td width='11%' valign='middle' class='td_collapse_percent'><img alt='' class='PBSeparatorImgSize' align='middle' src='/img/pixel.gif'/></td></tr><tr><td valign='top' align='center' resize='no' nowrap='no' colspan='3'><span class='COOKIEcrumbtext'><a href='home.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&pb=171542' id='Home' aria-labelledby='Home imgcompleted0' title='Home' >Home</a></span></td><td valign='top' align='center' resize='no' nowrap='no' colspan='3'><span class='COOKIEcrumbtext'><a href='searchopenings.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&pb=171542' id='Search__openings' aria-labelledby='Search__openings imgcompleted1' title='Search  openings' >Search <br> openings</a></span></td><td valign='top' align='center' resize='no' nowrap='no' colspan='3'><span class='COOKIEcrumbtext'><a href='javascript:void(0);goToSearchPage();' id='Search__results' aria-labelledby='Search__results imgcompleted2' title='Search  results' >Search <br> results</a></span></td><td valign='top' align='center' resize='no' nowrap='no' colspan='3'><span id='currPagetext' class='screenReaderText'>Current page</span><span class='COOKIEcrumbtext' id='currPageTitle'>Job <br> details</span><span aria-labelledby='currPagetext'></span> </td></tr><tr><td colspan='100'>&nbsp;</td></tr></table></td><td width='50%' class='td_collapse_percent'>&nbsp;</td></tr></table></td><td width='10%' valign='top'></td></tr></table></span>)";
      if (n.length <= 1)
      $("#ctl00_ProgressBar").hide();
      });
    // general JS and variables
    script(language='javascript', type='text/javascript').
      var MSG_GEN_EntValdEmlAddr = "Please enter a valid e-mail address.\\nDelete all the invalid characters, including spaces, from your e-mail address.";var MSG_GEN_PlsRmDblQut = "Please remove the  DOUBLE QUOTE (\")  you have entered.";var MSG_GEN_EnterVal = "Please enter a value for |QUESTION|";var MSG_GEN_EnterValidPassword = "Please enter a valid password.\nDelete all the invalid characters, including spaces, from your password.";var MSG_GEN_EnterValRange = "Please enter a value for |QUESTION| between |MIN| and |MAX|.";var MSG_GEN_EntValdPasswd = "Spaces are not allowed in the e-mail or in the password field. Please remove the spaces and try again.";var MSG_GEN_FromToDate = "The From date should be less than the To date.";var MSG_GEN_PlsDelPrdFrmBgnOfYrEmlAddr = "Please delete the period from the beginning of your e-mail address.";var MSG_GEN_PlsDelPrdFrmEndOfYrEmlAddr = "Please delete the period from the end of your e-mail address.";var MSG_GEN_PlsEntValdDate = "Please enter a valid date.";var MSG_GEN_PlsEntValdEmlAddr = "Please enter a valid e-mail address.";var MSG_GEN_PlsEntVldNumber = "Please enter a valid number.";var MSG_GEN_PlsEntVldSSN = "Please enter a valid SSN.";var MSG_GEN_SSNFormat = "The SSN should be in xxx-xx-xxxx format.";var MSG_GEN_UserNameInvalidChars = "The username must not include the following characters: < >";var MSG_GEN_UserNameLen = "Please enter a valid username.";var MSG_GEN_UserNameLength = "The username must be less than 100 characters.";var MSG_GEN_UserNameSpaces = "The username must not include any spaces.";var MSG_TSV_EnterValidInputSearchFields = "This entry should contain valid HTML characters.  Please reference the help file for a list of basic valid HTML tags.";var MSG_TSV_EnterValidInputText = "This entry should contain valid HTML characters.  Please reference the help file for a list of basic valid HTML tags.";var MSG_TSV_EnterValidInputTextArea = "This entry should contain valid HTML characters.  Please reference the help file for a list of basic valid HTML tags.";var MSG_InputValidationFail = "[QUESTION] requires a valid entry."; var MSG_RCF_LNPronunciation = "Last name pronunciation key: Please enter a value."; var MSG_RCF_FNPronunciation = "First name pronunciation key: Please enter a value."; var MSG_RCF_Valid_LNPronunciation = "Please enter a valid last name pronunciation key."; var MSG_RCF_Valid_FNPronunciation = "Please enter a valid first name pronunciation key."; var MSG_RCF_FirstName = "Please enter a first name."; var MSG_RCF_Valid_FirstName = "Please enter a valid first name."; var MSG_RCF_MiddleName = "Please enter a middle name."; var MSG_RCF_Valid_MiddleName = "Please enter a valid middle name."; var MSG_RCF_LastName = "Please enter a last name."; var MSG_RCF_Valid_LastName = "Please enter a valid last name."; var MSG_RCF_Address1 = "Please enter an address line 1."; var MSG_RCF_Address2 = "Please enter an address line 2."; var MSG_RCF_Country = "Please select a country name."; var MSG_RCF_City = "Please enter a city name."; var MSG_RCF_Valid_City = "Please enter a valid city name."; var MSG_RCF_State = "Please select a County/Region/Province."; var MSG_RCF_Zip = "Please enter a Postal code."; var MSG_RCF_HomePhone = "Please enter a home phone number."; var MSG_RCF_Valid_HomePhone = "Please enter a valid home phone number."; var MSG_RCF_WorkPhone = "Please enter a work phone number."; var MSG_RCF_Valid_WorkPhone = "Please enter a valid work phone number."; var MSG_RCF_CellPhone = "Please enter a phone number."; var MSG_RCF_Valid_CellPhone = "Please enter a valid phone number."; var MSG_RCF_Fax = "Please enter a fax number."; var MSG_RCF_Valid_Fax = "Please enter a valid fax number."; var MSG_RCF_Homepage = "Please enter a web address. Web addresses start with http:// or https://.";var MSG_SORTASCN = "Click to sort ascending";var MSG_SORTDSCN = " Click to sort descending";
    title
  body#ctl00_ContenBody.yui-skin-sam(marginwidth='0', marginheight='0', leftmargin='0', topmargin='0', onload='AddRfToken();ApplyNow();RemoveHover();loadTagpageview(); AddRfToken();', onunload='BodyUnLoad();')
    //
      added in code behind to banner section
      <form name="frmtimeout" style="visibility:hidden">
      <input name="timedout" value="0" type="hidden" />
      <input name="landing" value="0" type="hidden" />
      <input name="stopcount" value="0" type="hidden" />
      </form>
    #pageContents._portalMainPageContents
      table#tblBrandHead(width='100%', border='0', cellpadding='0', cellspacing='0', role='presentation')
        tr
          td(width='100%')
            //if IE 8
              html.lt-ie10.lt-ie9(lang='en')
            //if IE 9
              html.lt-ie10(lang='en')
            // [if gt IE 9] <!
            html(lang='en')
              // <![endif]
              head
                meta(http-equiv='content-type', content='text/html; charset=UTF-8')
                meta(charset='utf-8')
                meta(http-equiv='X-UA-Compatible', content='IE=edge')
                meta(name='description', content='Welcome to Nuffield Health Careers, your source for private healthcare jobs & vacancies in the UK. Let us help you find a new private hospital job today.')
                title Nuffield Health Careers - Search jobs and apply
                link(rel='shortcut icon', type='image/x-icon', href='/img/images_30073_6027/images/rb2/favicon.ico')
                link(rel='stylesheet', href='/img/images_30073_6027/images/rb2/fonts.css')
                link(rel='stylesheet', href='/img/images_30073_6027/images/rb2/main.css')
                style(type='text/css').
                  /* font size fix in Grid */   td div .yui-dt-liner a, .HEADERtext1, .HELPlink, .yui-dt-data, .yui-dt-sortable, .HEADERtext, .text,.TEXT, .Text,  label, select, input, textarea, .fieldlabel, .SMALLtext, span a b,th .EduExpHEADER, .COOKIEcrumbtext, .COOKIEcrumbtext a, .FORMlabel, .yui-skin-sam .yui-dt th, .yui-skin-sam table tr .yui-dt-even, .yui-skin-sam .yui-dt-liner, .HELPERtext, .CRITERIAtext, .EduExpBORDER, .EXPLANATORYtext, .BYLINE, #newExp, #newEdu, .yui-dt-label  { font-size:14px !important; /*font-family: Arial,Helvetica,sans-serif !important;*/}      .BGBRANDINGdom1light {padding: 4px}    .text,.TEXT,.Text { font-weight:normal !important; }   #tgContent{width: 1246px !important; background-color: #ffffff;}   ._portalMainPageContents{margin: 0px !important;}   #footer{ width: 1246px; margin: 0 auto; border-top: 1px solid #f1f1f1;}   #PrimaryContentBlock {padding-left: 20px; padding-bottom: 20px;}   table.COOKIEcrumbs{padding-left: 20px;}   .BGBRANDINGdom1light { background-color: #ebebeb;}   .graphic{ background: https://secure.tmpw.co.uk/ats-assets/nuffieldhealthcareers/images/bg-sprite.png !important;}   .yui-dt-even a{color: #f6ffed !important;}   #PrimaryContentBlock {padding-left: 20px; padding-right: 20px; padding-bottom: 20px;}   a:visited {colour: #04A339 !important;}   .logintable {margin: 0px 0px 40px 40px; border: 1px solid #f1f1f1; padding: 10px;}   .BGBRANDINGdom1light {padding: 15px; margin-bottom: 15px;}   .REGbutton, .LRGbutton, .SMALLbutton {background-color: #999; color: #fff; padding: 8px 10px 7px; border: none; text-decoration: none; cursor: pointer;}    .REGbutton:hover, .LRGbutton:hover, .SMALLbutton:hover {background-color: #aeaeae;}  .SMALLbutton {      font-size: 11px !important;  }  a#srchOpenLink, a#srchOpenLink strong{font-size:16px !important;}  #ctl00_MainContent_divSDraftsEmpty h2 {font-size: 16px !important;}  .yui-skin-sam .yui-dt-liner {padding: 4px 9px 4px 9px}  #ctl00_MainContent_IntroText li {list-style-position: inside;}
              body.page-our-journey.navlevel-3.doctype-contentpage
                // Skip links - Accessibility
                ul.skip-links.visuallyhidden
                  li
                    a(href='#main') Skip to content
                  li
                    a(href='#navigation-primary') Main site navigation
                  li
                    a(href='#footer') Share links and site information
                #top.container
                  #header.header.section
                    .section-canvas
                      // Mobile navigation button
                      a#navigation-toggle.navigation-toggle(href='#navigation-primary')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                        span.accessible-hidden Mobile Navigation
                      .navigation-bar
                        a.logo(href='http://www.nuffieldhealthcareers.com/')
                          .graphic
                        #navigation-primary.navigation.primary
                          .nav-list
                            .close-button
                              .icon
                            ul.nav-list-canvas
                              li.nav-homepage
                                a(href='http://www.nuffieldhealthcareers.com/') Home
                              li.has-children.nav-contentpage
                                a(href='http://www.nuffieldhealthcareers.com/about-us/') About Us
                                ul
                                  li.nav-contentpage
                                    a(href='http://www.nuffieldhealthcareers.com/about-us/our-journey/') Our Journey
                                  li.nav-contentpage
                                    a(href='http://www.nuffieldhealthcareers.com/about-us/our-purpose/') Our Purpose
                                  li.nav-contentpage
                                    a(href='http://www.nuffieldhealthcareers.com/about-us/we-believe-in-you/') We Believe in You
                                  li.nav-contentpage
                                    a(href='http://www.nuffieldhealthcareers.com/about-us/our-social-ethos/') Our Social Ethos
                                  li.nav-locationslandingpage
                                    a(href='http://www.nuffieldhealthcareers.com/about-us/our-locations/') Our Locations
                              li.has-children.nav-contentpage
                                a(href='http://www.nuffieldhealthcareers.com/life/') Life
                                ul
                                  li.nav-contentpage
                                    a(href='http://www.nuffieldhealthcareers.com/life/our-culture/') Our Culture
                                  li.nav-contentpage
                                    a(href='http://www.nuffieldhealthcareers.com/life/your-wellbeing/') Your Wellbeing
                                  li.nav-contentpage
                                    a(href='http://www.nuffieldhealthcareers.com/life/your-development/') Your Development
                                  li.nav-contentpage
                                    a(href='http://www.nuffieldhealthcareers.com/life/benefits-rewards/') Benefits & Rewards
                              li.nav-roleslandingpage
                                a(href='http://www.nuffieldhealthcareers.com/our-roles/') Our Roles
                              li.nav-eventslandingpage
                                a(href='http://www.nuffieldhealthcareers.com/events/') Events
                              li.has-children.active-path.nav-jobsearchpage
                                a(href='http://www.nuffieldhealthcareers.com/jobs/') Jobs
                                ul
                                  li.nav-contentpage
                                    a(href='http://www.nuffieldhealthcareers.com/jobs/the-recruitment-process/') The Recruitment Process
                                  li.nav-contentpage
                                    a(href='http://www.nuffieldhealthcareers.com/jobs/when-you-join-us/') When you join us
                                  li.active
                                    a(href='https://krb-sjobs.brassring.com/TGWebHost/home.aspx?partnerid=30073&siteid=6042') Search jobs & apply
                    .navigation-bar-secondary
                      #navigation-secondary.navigation.secondary.nav-list(role='navigation')
                        ul
                          li
                            a(href='http://www.nuffieldhealthcareers.com/jobs/the-recruitment-process/') The Recruitment Process
                          li
                            a(href='http://www.nuffieldhealthcareers.com/jobs/when-you-join-us/') When you join us
                          li.active
                            a(href='https://krb-sjobs.brassring.com/TGWebHost/home.aspx?partnerid=30073&siteid=6042') Search jobs & apply
                    // <div class="breadcrumbs">                  <div class="breadcrumbs-canvas">                      <div class="breadcrumbs-inner-canvas">                          <li>                              <a href="http://www.nuffieldhealthcareers.com/" class="crumb-home">Nuffield Health</a>                          </li>                          <li><a href="http://www.nuffieldhealthcareers.com/jobs/">Jobs</a></li>                          <li class="current"><span>Search jobs &amp; apply</span></li>                      </div>                  </div>              </div>
                  #tgContent
                    table
                      tr
                        td(width='1246', style='width:1246px')
                          script(type='text/javascript').
                            var sURL = window.location.href.toLowerCase();      if (sURL.indexOf("aip.aspx")>=0 || sURL.indexOf("selectresume.aspx")>=0 || sURL.indexOf("previewresume.aspx")>=0 || sURL.indexOf("searchopenings.aspx")>=0 || sURL.indexOf("jobdetails.aspx")>=0 || sURL.indexOf("pdsstepone.aspx")>=0 || sURL.indexOf("confirmation.aspx")>=0)      {document.write("<table><tr><td>")};      if (sURL.indexOf("resumemanager.aspx")>=0)      {document.write("<table><tr><td><table><tr><td>")};
                    table#tblBrand(width='100%', border='0', cellpadding='0', cellspacing='0', role='presentation')
                      tr
                        td.TGAlignLeft(valign='top', width='100%')  
                    span#spanHelp(runat='server', role='region', aria-label='Help')
                      table#tblHelpBar.COOKIEcrumbs(border='0', cellpadding='0', cellspacing='0', width='100%', role='presentation')
                        tr
                          td.COOKIEcrumbback(valign='top', colspan='2', width='90%')  
                          td.COOKIEcrumbback.TGAlignRight(nowrap='nowrap')
                            a.HELPLinkQuestion(href="javascript:openWindow6('https://krb-sjobs.brassring.com/2057/ASP/TG/help/TG_help.asp?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&type=help%23cim_jobdetail_help');", title='Help', alt='Help', aria-label='Help') ?
                          td.COOKIEcrumbback(width='10')
                            img(src='images/pixel.gif', alt='', width='10')
                    #ctl00_Header
                    #ctl00_ProgressBar
                      span#spanProgressBar(runat='server', role='navigation', aria-label='Talent Gateway')
                        table#tblProgressBar(width='100%', border='0', cellpadding='0', cellspacing='0', role='presentation')
                          tr
                            td.TGAlignLeft(valign='top', width='90%')
                              table(width='100%', border='0', cellspacing='0', cellpadding='0', role='presentation')
                                tr
                                  td(width='50%')
                                    table.breadcrumbtable(border='0', cellspacing='0', cellpadding='0', role='presentation')
                                      tr
                                        td.td_collapse_percent(width='11%', valign='middle')
                                          img.PBSeparatorImgSize(alt='', align='middle', src='/img/pixel.gif')
                                        td(width='1%', align='center', nowrap='', valign='bottom')
                                          img#imgcompleted0.PBSectionImgSize(alt='Completed page', aria-hidden='true', align='middle', src='/img/pb/4/checkbox_complete.gif')
                                        td(width='11%', valign='middle')
                                          img.PBSeparatorImgSize(alt='', align='middle', src='/img/pb/4/progressLine.gif')
                                        td(width='11%', valign='middle')
                                          img.PBSeparatorImgSize(alt='', align='middle', src='/img/pb/4/progressLine.gif')
                                        td(width='1%', align='center', nowrap='', valign='bottom')
                                          img#imgcompleted1.PBSectionImgSize(alt='Completed page', aria-hidden='true', align='middle', src='/img/pb/4/checkbox_complete.gif')
                                        td(width='11%', valign='middle')
                                          img.PBSeparatorImgSize(alt='', align='middle', src='/img/pb/4/progressLine.gif')
                                        td(width='11%', valign='middle')
                                          img.PBSeparatorImgSize(alt='', align='middle', src='/img/pb/4/progressLine.gif')
                                        td(width='1%', align='center', nowrap='', valign='bottom')
                                          img#imgcompleted2.PBSectionImgSize(alt='Completed page', aria-hidden='true', align='middle', src='/img/pb/4/checkbox_complete.gif')
                                        td(width='11%', valign='middle')
                                          img.PBSeparatorImgSize(alt='', align='middle', src='/img/pb/4/progressLine.gif')
                                        td(width='11%', valign='middle')
                                          img.PBSeparatorImgSize(alt='', align='middle', src='/img/pb/4/progressLine.gif')
                                        td(width='1%', align='center', nowrap='', valign='bottom')
                                          img#imginprogress.PBSectionImgSize(alt='Current page', aria-hidden='true', align='middle', src='/img/pb/4/checkbox_active.gif')
                                        td.td_collapse_percent(width='11%', valign='middle')
                                          img.PBSeparatorImgSize(alt='', align='middle', src='/img/pixel.gif')
                                      tr
                                        td(valign='top', align='center', resize='no', nowrap='no', colspan='3')
                                          span.COOKIEcrumbtext
                                            a#Home(href='home.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&pb=171542', aria-labelledby='Home imgcompleted0', title='Home') Home
                                        td(valign='top', align='center', resize='no', nowrap='no', colspan='3')
                                          span.COOKIEcrumbtext
                                            a#Search__openings(href='searchopenings.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&pb=171542', aria-labelledby='Search__openings imgcompleted1', title='Search  openings')
                                              | Search 
                                              br
                                              |  openings
                                        td(valign='top', align='center', resize='no', nowrap='no', colspan='3')
                                          span.COOKIEcrumbtext
                                            a#Search__results(href='javascript:void(0);goToSearchPage();', aria-labelledby='Search__results imgcompleted2', title='Search  results')
                                              | Search 
                                              br
                                              |  results
                                        td(valign='top', align='center', resize='no', nowrap='no', colspan='3')
                                          span#currPagetext.screenReaderText Current page
                                          span#currPageTitle.COOKIEcrumbtext
                                            | Job 
                                            br
                                            |  details
                                          span(aria-labelledby='currPagetext')
                                      tr
                                        td(colspan='100')  
                                  td.td_collapse_percent(width='50%')  
                            td(width='10%', valign='top')
                    #PrimaryContentBlock
                      #ctl00_MainContent_PrimaryContent(style='overflow:auto;width:100%', align='center')
                        span#spanMain(runat='server', role='main', aria-label='Talent Gateway')
                          form(name='frmSearch', aria-hidden='true', style='visibility:hidden', method='post', action='searchresults.aspx?ref=7192017171542&SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3&referer=search')
                            input(type='HIDDEN', name='recordstart', value='1')
                            input(type='HIDDEN', name='JobInfo', value='')
                            input(type='HIDDEN', name='CartJobInfo', value='%%1069312|140|3861%%')
                            input(type='HIDDEN', name='JMSimilarJobCriteria2', value='')
                            input(type='HIDDEN', name='JMSimilarJobCriteria', value='')
                          form#frmSendToFriend(name='frmSendToFriend', aria-hidden='true', style='visibility:hidden', method='post', action='emailtofriend.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3', target='7b3bb8d572dfb84075aa3e5e7778c303997d')
                            input#JobInfo(type='hidden', name='JobInfo', value='%%1069312|140|3861%%')
                            input#VerityQuery(type='hidden', name='VerityQuery', value='( PartnerId=30073 )<#AND>( SiteId=6042 ) <#AND>(dateopen <= 2017/7/19)<#AND>(dateclosed >= 2017/7/19)')
                            input#JobSiteInfo(type='hidden', name='JobSiteInfo', value='1069312_6042')
                            input#STFJobTitle(type='hidden', name='STFJobTitle', value='Sales & Services Manager')
                            input#hdRft(type='HIDDEN', name='hdRft', value='')
                          form#frmSocialMedia(name='frmSocialMedia', aria-hidden='true', style='visibility:hidden', method='post', action='socialmedia.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3', target='7b3bb8d572dfb84075aa3e5e7778c303997d')
                            input#jobid(type='hidden', name='jobid', value='1069312')
                            input#hdRft(type='HIDDEN', name='hdRft', value='')
                          form#frmSaveToCart(name='frmSaveToCart', aria-hidden='true', style='visibility:hidden', method='post', action='savejobs.aspx?SID=^mw14pDvFAX0ldO1NZ/TtZyZeYFSr1sKqWBwJwjuflyTwsliP_slp_rhc_ERmN/Dp2MC4/FE3', target='7b3bb8d572dfb84075aa3e5e7778c303997d')
                            input#chkJobClientIds(type='hidden', name='chkJobClientIds', value='%%1069312|140|3861%%')
                            input#JobSiteInfo(type='HIDDEN', name='JobSiteInfo', value='1069312_6042,')
                            input#hdRft(type='HIDDEN', name='hdRft', value='')
                          form#frmMassApply(name='frmMassApply', method='post', aria-hidden='true', style='visibility:hidden')
                            input#JobInfo(type='HIDDEN', name='JobInfo', value='%%1069312|140|3861%%')
                            input#jv_JobInfo(type='HIDDEN', name='jv_JobInfo', value='')
                            input#recordstart(type='HIDDEN', name='recordstart', value='1')
                            input#CurSel(type='HIDDEN', name='CurSel', value='1')
                            input#JobSiteInfo(type='HIDDEN', name='JobSiteInfo', value='1069312_6042')
                            input#type(type='HIDDEN', name='type', value='search_jobdetail')
                            input#GQID(type='HIDDEN', name='GQID', value='3861')
                            input#ApplyCount(type='HIDDEN', name='ApplyCount', value='1')
                            input#hdRft(type='HIDDEN', name='hdRft', value='')
                          form#frmJobDetail(name='frmJobDetail', method='post', aria-hidden='false')
                            input#jobcartcnt(type='hidden', name='jobcartcnt', value='0')
                            input#JobInfo(type='HIDDEN', name='JobInfo', value='')
                            input#JobSiteInfo(type='HIDDEN', name='JobSiteInfo', value='1069312_6042')
                            input#recordstart(type='HIDDEN', name='recordstart', value='1')
                            input#CurSel(type='HIDDEN', name='CurSel', value='1')
                            input#hdRft(type='HIDDEN', name='hdRft', value='')
                            table#tblDetails(width='92%', border='0', cellpadding='0', cellspacing='0', align='center', role='presentation')
                              tr
                                td(width='10', height='20', nowrap='nowrap')
                                  img(src='images/pixel.gif', alt='', width='10', height='20')
                                td(align='center', nowrap='nowrap')
                                  h1.PAGEtitle.h1Title Job details
                                td(width='90%', valign='bottom')  
                              tr
                                td(height='1', colspan='3')
                                  img(src='images/pixel.gif', alt='', height='2')
                                td(width='90%')
                                  img(src='images/pixel.gif', alt='', height='1')
                              tr
                                td.BRANDINGdom2dark(height='0', colspan='4')
                                  img(src='images/pixel.gif', alt='', height='1')
                            table#tblNextPrev(width='92%', border='0', cellpadding='2', cellspacing='0', align='center', role='presentation')
                              tr
                                td(colspan='5')
                                  img(height='2', alt='', src='images/pixel.gif')
                              tr
                                td.SMALLtext(colspan='5', align='center', valign='middle', wrap='nowrap')
                                  strong Job 1
                                  |  of 1
                              tr
                                td(colspan='5')
                                  img(height='4', alt='', src='images/pixel.gif')
                            #divButtonBar(runat='server', role='region', aria-label='Primary Actions', aria-describedby='PrimaryActionDesc')
                              input#PrimaryActionDesc(type='hidden', value='These action buttons also appear within the Secondary Actions region for ease of use on the page.')
                              input#SecondaryActionDesc(type='hidden', value='These action buttons also appear within the Primary Actions region for ease of use on the page.')
                              table(width='92%', border='0', cellpadding='3', cellspacing='0', align='center', role='presentation')
                                tr
                                  td(align='center', valign='bottom', nowrap='')
                                    button#button1.REGbutton(type='button', role='button', aria-label='Apply for job', name='button1', onclick='javascript:ApplyNow();') Apply for job
                                    button#button2.REGbutton(type='button', name='button2', onclick='javascript:sendToFriend();', role='button', aria-label='Send to friend') Send to friend
                                    button#button3.REGbutton(type='button', name='button3', onclick='javascript:saveToJobCart();', role='button', aria-label='Save to basket') Save to basket
                            table#tblJobDetail(width='92%', border='0', cellpadding='3', cellspacing='0', align='center', role='presentation')
                              tr
                                td(colspan='2')
                                  img(alt='', height='4', src='images/pixel.gif')
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label#lblJobTitle Job Title
                                td.TGAlignLeft(width='80%')
                                  span.TEXT(id='Job Title', aria-labelledby='lblJobTitle') Sales & Services Manager
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label#lblReference Reference
                                td.TGAlignLeft(width='80%')
                                  span#Reference.TEXT(aria-labelledby='lblReference') 13229BR
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label#lblDivision Division
                                td.TGAlignLeft(width='80%')
                                  span#Division.TEXT(aria-labelledby='lblDivision') Hospitals
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label#lblCategories Categories
                                td.TGAlignLeft(width='80%')
                                  span#Categories.TEXT(aria-labelledby='lblCategories') Senior and Executive Leadership
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label#lblRegion Region
                                td.TGAlignLeft(width='80%')
                                  span#Region.TEXT(aria-labelledby='lblRegion') Surrey
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label#lblGeographicalLocation Geographical Location
                                td.TGAlignLeft(width='80%')
                                  span.TEXT(id='Geographical Location', aria-labelledby='lblGeographicalLocation') SE : Guildford
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label#lblContracttype Contract type
                                td.TGAlignLeft(width='80%')
                                  span.TEXT(id='Contract type', aria-labelledby='lblContracttype') Employed - Permanent
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label(id='lblFullTime/PartTime/Variable') Full Time/Part Time/Variable
                                td.TGAlignLeft(width='80%')
                                  span.TEXT(id='Full Time/Part Time/Variable', aria-labelledby='lblFullTime/PartTime/Variable') Full Time
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label(id='lblSalaryrangefrom(£)') Salary range from (£)
                                td.TGAlignLeft(width='80%')
                                  span.TEXT(id='Salary range from (£)', aria-labelledby='lblSalaryrangefrom(£)') Dependent on experience
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label(id='lblSalaryrangeto(£)') Salary range to (£)
                                td.TGAlignLeft(width='80%')
                                  span.TEXT(id='Salary range to (£)', aria-labelledby='lblSalaryrangeto(£)') Dependent on experience
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label#lblClosingDate Closing Date
                                td.TGAlignLeft(width='80%')
                                  span.TEXT(id='Closing Date', aria-labelledby='lblClosingDate') 23-Jul-2017
                              tr
                                td(valign='top')
                                  span.Fieldlabel
                                    label#lblJobDescription Job Description
                                td.TGAlignLeft(width='80%')
                                  span.TEXT(id='Job Description', aria-labelledby='lblJobDescription')
                                    | Sales and Services Manager
                                    br
                                    br
                                    | As the largest not-for-profit healthcare organisation in the UK, our focus is on building healthier futures for everyone. Our pioneering approach puts us at the leading edge of health and wellbeing services. Bringing together clinical, prevention and cure with fitness and wellbeing services, we work to provide expert care through our network across the UK. Work with us and, together, we can improve the health of the nation.
                                    br
                                    | Right now, we are looking for a Sales and Services focused individual to join the senior management team at our Guildford Hospital where we will give you accountability for shaping and enhancing all elements of our customer journey and delivering our revenue plan.
                                    br
                                    br
                                    | You will have operational responsibility for revenue and activity KPIs alongside our customer facing teams, reenergising processes, ways of working and capability to ensure the customer is at the heart of everything we do. You will also have extensive interaction with our internal and external stakeholders, including our consultants, primary care contacts, consumers and local corporates/SMEs to maximise sales and growth opportunities. Therefore you will be confident building business plans, executing sales and customer strategies and networking. As a result, you will deliver commercial success by bringing the best of Nuffield Health to the local community.
                                    br
                                    br
                                    | To apply, youll be an established and proven sales and customer service specialist, already operating at management level in a busy environment. You will have demonstrable experience working within the service sector, ideally within the health and wellbeing industry, hospitality or similar. Your ability to quickly understand situations, embrace and lead change is what defines you, together with your excellent people management capability. You are at your best when communicating to internal and external stakeholders, building relationships and delivering results. 
                                    br
                                    br
                                    | You will preferably be degree qualified, ideally holding a management or business qualification. This will be supported by evidence of shaping compelling sales/marketing plans, which have delivered real results.  You have proven experience working in an operational sales and customer facing led environment and will be able to provide us with examples of how you have introduced improvements to advance the customer experience and thereby sales. 
                                    br
                                    br
                                    | The Guildford Nuffield Hospital can provide one of the best working environments in the area, as well as the most modern and up-to-date equipment, 50 en-suite rooms, four theatres and a four-bed acute dependency unit. Our site is shared with an NHS trust hospital, giving us access to their facilities. The working atmosphere is highly professional and stimulating, yet friendly and collaborative like that of a large family unit. Easily accessible from the A3 or M25, were about 1.5 miles from the town centre.
                                    br
                                    br
                                    | We are constantly investing, innovating and delivering new services from the hospital. We are looking for an outstanding individual to add to our talented team to help deliver our ambitious growth plans within current and potential new healthcare markets.
                                    br
                                    br
                                    | This is where it all begins.
                                    br
                                    br
                                    | For further information contact David Richardson, Hospital Director on 01483 555801
                                    br
                            #divButtonBar1(runat='server', role='region', aria-label='Secondary Actions', aria-describedby='SecondaryActionDesc')
                              input#SecondaryActionDesc(type='hidden', value='These action buttons also appear within the Secondary Actions region for ease of use on the page.')
                              input#SecondaryActionDesc(type='hidden', value='These action buttons also appear within the Secondary Actions region for ease of use on the page.')
                              table(width='92%', border='0', cellpadding='3', cellspacing='0', align='center', role='presentation')
                                tr
                                  td(align='center', valign='bottom', nowrap='')
                                    button#button11.REGbutton(type='button', role='button', aria-label='Apply for job', name='button1', onclick='javascript:ApplyNow();') Apply for job
                                    button#button21.REGbutton(type='button', name='button2', onclick='javascript:sendToFriend();', role='button', aria-label='Send to friend') Send to friend
                                    button#button31.REGbutton(type='button', name='button3', onclick='javascript:saveToJobCart();', role='button', aria-label='Save to basket') Save to basket
                          form#frmWebAnalyticsInfo(name='frmWebAnalyticsInfo', method='post', aria-hidden='true')
                            input#WAJobId(type='HIDDEN', name='WAJobId', value='1069312')
                            input#WAAutoOrOptReq(type='hidden', name='WAAutoOrOptReq', value='13229BR')
                            input#WAJobTitle(type='HIDDEN', name='WAJobTitle', value='Sales & Services Manager')
                            input#WAJobAttributes(type='HIDDEN', name='WAJobAttributes', value='')
                    #ctl00_Footer
                    table#tblBrandFoot(width='100%', border='0', cellpadding='0', cellspacing='0', role='presentation')
                      tr
                        td(align='center', width='100%')  
                  #footer.footer.section(role='contentinfo')
                    .contianer-row
                      .widget.social
                        .widget-canvas
                          h3 Follow Us
                          p Connect with us on our social media channels
                          .module.m-social-links
                            ul
                              li
                                a(target='_blank', href='http://www.twitter.com/NuffieldHealth')
                                  span.icon.twitter
                              li
                                a(target='_blank', href='https://www.facebook.com/NuffieldHealthCareers?ref=hl')
                                  span.icon.facebook
                              li
                                a(target='_blank', href='http://www.linkedin.com/NuffieldHealth')
                                  span.icon.linkedin
                          p.copyright © 2015 Nuffield Health
                      .widget.events
                        .widget-canvas
                          h3 Recruitment
                          p
                            a(href='http://www.nuffieldhealthcareers.com/events') Find out more
                            |  about our events and latest opportunities.
                      .widget.info
                        .widget-canvas
                          h3 Info
                          #navigation-footer.navigation(role='navigation')
                            ul
                              li.privacy-policy
                                a(href='http://www.nuffieldhealthcareers.com/privacy-policy/') Privacy Policy
                              li.site-map
                                a(href='http://www.nuffieldhealthcareers.com/site-map/') Site Map
                              li.terms-conditions
                                a(href='http://www.nuffieldhealthcareers.com/terms-conditions/') Terms & Conditions
                      .widget.twitter
                        .widget-canvas
                          h3 Twitter
                          p.author
                            | We support, enable and encourage people to improve their health in order to help them get the most out of life. Visit 
                            a(target='_blank', href='https://twitter.com/NuffieldHealth') @NuffieldHealth
                            |  on Twitter for the latest from us.
                script.
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');      ga('create', 'UA-60076844-1', 'auto');    ga('send', 'pageview');
                script.
                  $(document).ready(function(){   if (sURL.indexOf("createaccountconfirm.aspx")>=0)   {        $("div#footer").css({"margin-top":"-18px"});       }   });
                style.
                  body{background:#f1f1f1 !important;}
